---
layout: default
title: Blog Posts
---
<h1>Scrappy daily blog posts</h1>
{% assign sorted_posts = site.posts | sort: 'date' | reverse %}
<ul class="post-list">
  {% assign total_posts = sorted_posts | size %}
  {% for post in sorted_posts %}
    {% assign post_number = total_posts | minus: forloop.index0 %}
    {% assign padded_number = post_number | prepend: '00' | slice: -3, 3 %}
    <li>
      <a href="{{ post.url | relative_url }}">
        {{ padded_number }}. {{ post.title }}
      </a>
      <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
    </li>
  {% endfor %}
</ul>
{% if sorted_posts == empty %}
  <li><em>No blog posts yet. Stay tuned!</em></li>
{% endif %}
